@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">哭啊~發生錯誤！！.</h1>
<h2 class="text-danger">不好意思，來客眾多，所以伺服在忙，有問題可以打下面專線，將有專人為您服務.</h2>

<img src="~/bookphotos/2b146b57-f21a-4ff9-b8b6-00ba09e6fb67.jpg"/>